*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}
nav{
    width: 1000%;
    height: 60px;
    background-color:whitesmoke;
    box-shadow: 10px 10px 6px gray;
    
}

#box{
    padding: 2px 500px;
    width: 150px;
    height: 70px;
}
table, th, td{
    border: 2.7px solid white;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}
th, td{
    padding: 10px;
    
}
td{
    text-align: center;
}
table{
    padding: 50px;
}
caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
body{
    background-color: lightblue;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    
}
caption{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
th{
    font-family: 'Roboto', sans-serif;

}
button{
    margin: 0% 1000px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 8px;
    
    
}
button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    

}
main{
    padding: 30px 150px;

}
table{
    border: 2.7px solid white;
}
footer{
    font-family: 'Roboto', sans-serif;
    
}